ADMIN_EMAIL=admin@deepamtextile.com
ADMIN_PASSWORD=DeepamAdmin2026!
SESSION_SECRET=deepam_textile_solapur_secret_jwt_session_token_32chars_min
DATABASE_URL=file:../data/cms.db
NEXT_PUBLIC_SITE_NAME="Deepam Textile"
NEXT_PUBLIC_WHATSAPP_NUMBER="+917066148936"
NEXT_PUBLIC_CONTACT_EMAIL="export@deepamtextile.com"
